
      body {
        font-family: 'SUSE Mono', monospace;
        background-color: lightblue;
        color: #333;
        font-size: 22px;
      }

 .nav {
        background: white;
        padding: 1.5rem 2rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }


      .nav .ini h1 {
        color: #667eea;
        margin-bottom: 0.3rem;
      }

      .nav .ini p {
        color: #666;
      }

      .twededenavi ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
        padding: 0;
      }

      .twededenavi ul li a {
        text-decoration: none;
        color: #333;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        transition: 0.3s;
        display: block;
      }

      .twededenavi ul li a:hover {
        color: white;
        background-color: black;
      }
     